// $color-background = #fff
// $color-initial = #f00
// $color-primary = #E91E63
// $color-text = rgba(0,0,0,0.74)
// $color-secondary = #606c76
// $color-tertiary = #f4f5f6
// $color-quaternary = #d1d1d1
// $color-quinary = #e1e1e1

@import './sutairu'
