// You can easily overwrite the default variables like this:

$accentColor = #00A7E1

// (Check /sutairu/base/_defaultVars.styl and /atomiku/_defaultVars for all default variables.)

@import './sutairu'
@import './atomiku'

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Sticky Footer & page content background color */
.App
  display flex
  min-height: 100vh;
  flex-direction: column;

.page-content
  background: #f3f3f3
  flex 1
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.logo-text
  align-self center
  flex 1
  font-size 3.2rem
  color $primaryColor
  
nav
  align-self center
  ul
    margin 0
    li
      display inline-block
      margin-left 10px

.navItemActive
  box-shadow 0px 1px $accentColor

// Compounds
.button--default
  @extend .border-pill

.button--primary
  @extend .button--default
  @extend .bg-primary
  @extend .border-primary
  @extend .bg-hover-accent
  @extend .border-hover-accent

.button--primary-clear
  @extend .button--default
  @extend .c-primary
  @extend .border-primary
  @extend .bg-transparent
  @extend .bg-hover-black

.button--accent-clear
  @extend .button--default
  @extend .c-accent
  @extend .border-accent
  @extend .bg-transparent
  @extend .bg-hover-black

.button--white-clear
  @extend .button--default
  @extend .c-white
  @extend .border-white
  @extend .bg-transparent
  @extend .bg-hover-primary

/*
mobile: up to 768px
tablet: from 769px
desktop: from 1008px
widescreen: from 1200px
New! fullhd: from 1392px
960
1152
1344
*/