
@import './_variables'
@import './sutairu'
@import './_functional'


// Needed to for Icon Font
i::before
  font-family: 'icomoon'

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Sticky Footer & page content background color */

.App
  display flex
  min-height: 100vh;
  flex-direction: column;

.page-content
  background: #e7eaf6
  flex 1
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.logoText
  align-self center
  flex 1
  font-size 2em
  span:first-child
    color colPrimary
  span
    color colSecondary
nav
  align-self center
  ul
    margin 0
    li
      display inline-block
      margin-right 10px
      a
        color colPrimary
        &:hover
          color colSecondary

.navItemActive
  box-shadow 0px 4px colSecondary
