.flex
  display: flex

.flex-column
  display: flex
  flex-direction: column

.flex-wrap
  flex-wrap: wrap

.align-items-start
  align-items: flex-start

.align-items-center
  align-items: center

.align-items-end
  align-items: flex-end

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.justify-space-between
  justify-content: space-between

.justify-space-around
  justify-content: space-around

.flex-0
  flex: 0

.flex-1
  flex: 1

.flex-2
  flex: 2

.flex-3
  flex: 3